--- 
--- 

//
// IMPORTS 
// 

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background-image: url("https://sugarchalet.files.wordpress.com/2012/11/blog-background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-height: 100%;
	height: 100%;
  font: 18px/1.4 $helvetica;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-weight: bold;
	margin-top: 140px;
}


.container {
  border-radius: 15px;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 20px rgba(0, 0,0, 0.4);
}

.container.wrapper-masthead {
  //border-radius: 15px;
  margin: 0 auto;
 // max-width: 740px;
  padding: 0 10px;
  width: 100%;
 // background-color: rgba(255, 255, 255, 0.35)
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #c25b56;
  a {
    color: #c25b56;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: #bfbfbf;
}

p {
  margin: 15px 0;
  font-weight: bold;
  color: #000000;
}

a {
  color: #96c0ce;
  font-weight: bold;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #74828f;
  }
}

ul, ol {
  margin: 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    //position: fixed;
    height: auto;
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

// image - text settings

span {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
   // font-weight: bold;
    color: #fef6eb;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
  max-width: 720px;
  border-radius: 15px;
  padding-left: 8px;
  padding-top: 15px;
}

ul.img-list li {
 // padding-top: 15px;
  //padding-left: 20px;
  display: inline-block;
  height: auto;
  margin: 0 1em 1em 0;
  position: relative;
  width: 704px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0,0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 310px;
  left: 0;
  position: absolute;
  top: 0;
  width: 704px;
  padding-top: 20px;
  opacity: 0;
  border-radius: 15px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content span.title-post {
  font-size: 24px;
  font-weight: bold;
}

span.text-content span.date-post {
  font-size: 18px;
  font-weight: normal;
}

li a {
    margin: 0;
    display: block;
    color: blue;
    padding: 8px 16px;
    padding-top: 0px;
    text-decoration: none;
    border-radius: 15px;
}

li a.active {
    background-color: #4caf50;
    color: black;
    border-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: gray;
}

img.text-on-top {
  padding-top: 15px;
}

// end of image - text settings

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
//  border-radius: 15px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	color: #ffffff;
}

th {
	height: 30px;
        font-size: 20px;
        font-weight: bold;
	color: #ffffff;
}

td {
        font-weight: bold;
}

th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	color: #ffffff;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-weight: 900;
  color: #e6e6e6;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: #ffffff;
//  background-color: #dbe6f0;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: +32000;
  //margin-left: -296px; 
  box-shadow: 1px 1px 30px rgba(0, 0,0, 0.8);
}

.masthead {
  padding-left: 20px;
  max-height: 105px;
//  border-bottom: 1px solid $lightGray;
  position: fixed;
  background-color: #ffffff;
//  background-color: #dbe6f0;
  box-shadow: 1px 1px 30px rgba(0, 0,0, 0.8);
  width: 100%;
  z-index: +32000;
 // text-align: center;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  padding-top: 5px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #000000;
  font-size: 16px;
  font-weight: bold;

  @include mobile {
    margin: 3px 0;
  }
}

// navigation bar

nav {
  float: right;
  max-height: 105px;
  width: 400px;
  list-style-type: none;
//  margin-top: 23px; // @TODO: Vertically middle align
  margin-right: 40px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  overflow: hidden;
  background-color: #e2e9e7;
  border-radius: 0px;
  text-align: center;
  display: inline-block;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: inline-block;
    font-size: 16px;
  }

 // nav.nav-bar-top li {
 // display: inline;
 // height: 105px;
//  }

 // li.nav-bar-top a {
  //  display: inline-block;
  //  text-align: center;
  //  text-decoration: none;
   // border: 0px;
 //   border-radius: 0px;
 //   padding-top: 35px;
 //   padding-bottom: 35px;
//    width: 130px;
//    height: 100%;
//  }

//  li a:hover:not(.active-nav) {
//    background-color: gray;
//  }

  a {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    max-height: 105px;
    max-width: 130px;
    color: #000000;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none;
    display: inline-block;
    overflow: hidden;

    @include mobile {
      margin: 0 10px;
      color: #000000;
    }
  }
}

// end navigation bar

//
// .main
//

.posts > .post {
  padding-top: 10px;
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    padding-left: 15px;
    color: #beb9b5;
    font-size: 22px;
    font-style: italic;
    background-color: rgb(255, 255, 255)
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
 // position: fixed;
//  bottom: 0px;
 // z-index: +1000;
//  padding-left; 100%;
//  border-top: 1px solid #ddd;
//  border-bottom: 1px solid #ddd;
//  background-color: $lightGray;
}

body {
  font: 16px/1.4 arial;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

footer {
  padding: 20px 0;
  text-align: center;
//  position: fixed;
  //background-color: #C25B56;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
