--- 
---

//
// IMPORTS 
// 

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background-image: url("https://sugarchalet.files.wordpress.com/2012/11/blog-background1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-width: 100%;
	width: 100%;
  font: 18px/1.4 $helvetica;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-weight: bold;
	margin-top: 140px;
}


.container {
  border-radius: 15px;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.25);
  box-shadow: 1px 1px 20px rgba(0, 0,0, 0.4);
  overflow: hidden;
//  filter: blur(2px);
//  -webkit-filter: blur(2px);
//  -moz-filter: blur(2px);
//  -o-filter: blur(2px);
//  -ms-filter: blur(2px);
}

.container.wrapper-masthead {
  //border-radius: 15px;
  margin: 0 auto;
 // max-width: 740px;
  padding: 0 10px;
  width: 100%;
 // background-color: rgba(255, 255, 255, 0.35)
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #c25b56;
  a {
    color: #c25b56;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: #bfbfbf;
}

p {
  margin: 15px 0;
  font-weight: bold;
  color: #000000;
}

a {
  color: #96c0ce;
  font-weight: bold;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #74828f;
  }
}

ul, ol {
  margin: 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    //position: fixed;
    height: auto;
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

.txt-box-intro {
    width: 100%;
    background-color: #ffffff;
    height: 130px;
    text-align: center;
}

.txt-box-title {
    width: 100%;
    background-color: #ffffff;
    height: 110px;
    text-align: center;
}

// image - text settings

span {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
   // font-weight: bold;
    color: #fef6eb;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
  max-width: 720px;
  border-radius: 15px;
  padding-left: 8px;
  padding-top: 15px;
  overflow: hidden;
}

ul.img-list li {
 // padding-top: 15px;
  //padding-left: 20px;
  display: inline-block;
  height: auto;
  margin: 0 1em 1em 0;
  position: relative;
  width: 704px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0,0, 0.5);
  background-color: rgba(217, 217, 217, 0.5);
  overflow: hidden;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
  padding-bottom: 0px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 408.58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 704px;
  opacity: 0;
  border-radius: 15px;
  padding-bottom: 100px;
  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span.text-content.wk6 {
	//height: 478px;
}

span.text-content.wk5 {
	//height: 369.86px;
}

span.text-content.wk4 {
	//height: 450px;
}

span.text-content.wk3 {
	//height: 409.34px;
}

span.text-content.wk2 {
	//height: 408.58px;
}

span.text-content.wk1 {
	//height: 458.45px;
}

ul.img-list li:hover span.text-content span {
	padding-bottom: 0px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 100px;
  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span.text-content span.title-post {
  font-size: 24px;
  font-weight: bold;
}

span.text-content span.date-post {
  font-size: 18px;
  font-weight: normal;
}

li a {
    margin: 0;
    display: block;
    color: blue;
    padding: 8px 16px;
    padding-top: 0px;
    text-decoration: none;
    border-radius: 15px;
}

li a.active {
    background-color: #4caf50;
    color: black;
    border-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #555;
    color: gray;
}

img.text-on-top {
  padding-top: 15px;
  clip: rect(0px, 720px, 330px, 0px);
}

// end of image - text settings

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
//  border-radius: 15px;
}

// Table rules

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	color: #ffffff;
}

th {
	height: 30px;
        font-size: 20px;
        font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

td {
        font-weight: bold;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

th, td {
	padding: 8px;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}

// End table rules

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-weight: 900;
  color: #e6e6e6;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: #ffffff;
//  background-color: #dbe6f0;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: +30000;
  //margin-left: -296px; 
  box-shadow: 1px 1px 30px rgba(0, 0,0, 0.8);
}

.masthead {
  //padding-left: 20px;
  max-height: 105px;
//  border-bottom: 1px solid $lightGray;
  position: fixed;
  background-color: #e2e9e7;
//  background-color: #dbe6f0;
  box-shadow: 1px 1px 30px rgba(0, 0,0, 0.8);
  width: 100%;
  z-index: +32000;
 // text-align: center;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 130px;
  height: 105px;
  padding-right: 15px;
  padding-left: 15px;
 // padding-top: 5px;
  //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #e2e9e7;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  padding-top: 4px;
  //margin-left: 120px;
  //text-align: center;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #000000;
  font-size: 16px;
  font-weight: bold;

  @include mobile {
    margin: 3px 0;
  }
}

// navigation bar

//  font-family: "Courier New", Courier, monospace;
//  background-color: #e2e9e7;

 nav {
   float: right;
   padding-top: 18px; // @TODO: Vertically middle align
  // padding-right: 40px;
   padding-bottom: 0px;
   //padding-left: 20px;
   max-width: 150px;
  // width: 150px;
   margin-left: 0;
   top: 0;
   box-shadow: inset 0 0 7px rgba(0, 0,0, 0.4);
   font-family: "Courier New", Courier, monospace;
   font-size: 22px;
   background-color: #ffffff;
   list-style-type: none;
   height: 105px;
   text-align: center;

   @include mobile {
     float: none;
     margin-top: 9px;
     display: block;
     font-size: 16px;
   }
    
   .dropbtn {
  //  background-color: #e0e0e0;
    margin-top: -30px;
  //  margin-right: -21px;
    color: white;
    padding: 16px;
    padding-right: 20px;
  //  padding-bottom: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    clip: rect(0px,150px,105px,0px);
   }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      z-index: 30001;
      visibility: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
     // margin-right: -5px;
      right: 0px;
      margin-top: -25px;
      position: absolute;
      background-color: rgba(191, 191, 191, 0.6);
      width: 220px;
      opacity: 0;
      box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: visibility 0.5s ease, opacity 0.5s ease;
      -moz-transition: visibility 0.5s ease, opacity 0.5s ease;
      -o-transition: visibility 0.5s ease, opacity 0.5s ease;
      transition: visibility 0.5s ease, opacity 0.5s ease;
    }

    .dropdown-content a {
      color: #595959;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      padding-bottom: 4px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 120px;
   //   -webkit-transition: width 0.6s;
  //    -moz-transition: width 0.6s;
  //    -o-transition: width 0.6s;
   //   transition: width 0.6s;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
	 
    .dropdown-content a.nav-link-1 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    
    .dropdown-content a.nav-link-3 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      color: #000000;
      width: 220px;
      background-color: rgba(230, 230, 230, 0.6);
    }
	 
    .dropdown-content a:hover {
      background-color: rgba(248, 248, 248, 0.6);
      width: 220px;
   //   -webkit-transition: all 0.6s ease-in-out;
  //    -moz-transition: all 0.6s ease-in-out;
   //   -o-transition: all 0.6s ease-in-out;
    //  transition: all 0.6s ease-in-out;
      color: #000000;  
	 }

    .dropdown:hover .dropdown-content {
      display: block;
      visibility: visible;
      background-color: rgba(191, 191, 191, 0.6);
      box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
      opacity: 1;
    }

  //  .dropdown:hover .dropbtn {
     // background-color: rgba(0, 0, 0, 0.2);
  //  }

   a {
     list-style-type: none;
     //margin-left: 20px;
    // color: #000000;
     text-align: left;
     float: left;
     font-weight: 700;
     letter-spacing: 1px;
     display: inline-block;
   //  background-color: #e2e9e7;
     border-radius: 0px;
     width: 100%;
 
     @include mobile {
       margin: 0 10px;
       color: #000000;
     }
   }
 }


// end navigation bar

//
// .main
//

.posts > .post {
  padding-top: 10px;
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    padding-left: 15px;
    color: #beb9b5;
    font-size: 22px;
    font-style: italic;
    background-color: rgb(255, 255, 255)
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
 // position: fixed;
  bottom: 0px;
 // z-index: +1000;
//  padding-left; 100%;
//  border-top: 1px solid #ddd;
//  border-bottom: 1px solid #ddd;
  background-color: #e6ecea;
}

.bold {
  font-weight: bold;
}

.standard {
  font-weight: normal;
}

body {
  font: 16px/1.4 arial;
  font-family: "Courier New", Courier, monospace;
 // font-weight: bold;
  //text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

footer {
  padding: 20px 0;
  text-align: center;
 // position: fixed;
  background-color: #e6ecea;
  width: 100%;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
